# Python virtual environment
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and local database files
*.log
*.sqlite3

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
develop-eggs/

# Testing output
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# macOS file
.DS_Store
